// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-icon {
  font-size: 20px;
}

.tag-color-box, .tag-color-box-small {
  display: inline-block;
  border: 1px solid #666;
  border-radius: 3px;
  cursor: pointer;
  line-height: 12px;
}

.tag-color-box {
  width: 50px;
  height: 30px;
} 

.tag-color-box-small {
  width: 25px;
  height: 15px;
}

.tag-title {
  font-size: 20px;
}

.tag-bar {
  background-color: whitesmoke;
}

.tag-list-nav {
  list-style: none;
  padding-left: 10px;
}

.tags-nav {
  padding-top: 60px;
  border-right: solid 1px #eeeeee;
  padding-left: 15px;
}
