// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time-segment-day {
  width: 280px;
}

.time-segment-week {
  width: 140px;
}

.time-ruler {
  position: relative;
  top: 0;
  left: 0;
  width: 45px;
}

.time-ruler-num {
  position: absolute;
  top: -10px;
  right: 10px;
}

.time-disabled-segment {
  background-color: #eee;
}

.ui-selecting { background: #FECA40; }

.ui-selected { background: #F39814; color: white; }

.log-row .glyphicon, .log-row .log_time_segment, .log-row .log_content {
  font-size: 1.2em;
}

.log-row .log_actions {
  display: none;
}

tr.log-row:hover td div.log_actions {
  display: block;
}

.timeline.table, .timeline-month.table {
  border-collapse: separate;
  border-spacing: 5px 0;
}

#activity-list.table td, .timeline.table td, .timeline.table th {
  border: none;
}

.timeline.table th, .timeline-month th {
  border-bottom: 3px solid #ddd;
}

.timeline.table td.even-hour {
  border-bottom: dotted 1px #ddd;
}

.timeline.table td.odd-hour {
  border-bottom: solid 1px #ddd;
}

.timeline.table tbody tr td {
  padding: 6px;
}

.today {
  margin: 0px 10px;
  font-size: 1.2em;
}

#activity-list p {
  margin: 0px;
}

.timeline.table th {
  text-align: center;
}

.today-col a {
  color: #c7254e;
}

/// ---------------------
.timeline-month td, .timeline-month th {
  text-align: right;
}

.timeline-month td.day-box {
  height: 100px;
}

.day-time-segments {
  height: 80px;
}

.timeline-month .time-segment-horiz {
  width: 3px;
}
