// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time-segment {
  width: 250px;
}

.time-disabled-segment {
  background-color: #eee;
}

.ui-selecting { background: #FECA40; }

.ui-selected { background: #F39814; color: white; }
